h1 About
h3.border-bottom お手伝いリストとは？
.
p.mt-3
  | 
    お手伝いリストは、ファミリー向けお手伝い応援サイトです。日々のお手伝いをサポートします。<br>
    家事にポイントを設定することで、日々の暮らしをゲームのように楽しむことができます。<br>
    親は、やって欲しいお手伝いとポイントを登録して日々の家事を手伝ってもらいましょう！<br>
    子供たちは、お手伝い完了で獲得できるポイントで欲しいプレゼントと交換してもらおう！